/* 
 * Header Css
 * 
 */
#title {
    position: relative;
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #FFF;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 60px;
    letter-spacing: 6px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    
    z-index: 9;
}


.search-bar #search_form {
    width: 488px;
    margin: 0 auto;
    padding: 10px 0;
    transition: background-color 400ms;
    border-radius: 8px;
}



.rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.text-input, .dropdown {
    height: 38px;
    color: whitesmoke;
    padding-left: 5px;
    background-color: rgba(22, 32, 43, 0.3);
    border: 2px solid rgb(30, 46, 65);
    box-shadow: 0 0 10px 2px rgb(27, 39, 53) inset;
    transition: background-color 400ms;
}

@media screen and (max-device-width: 460px) {
    .text-input {
        width: 200px;
    }

    .search-bar #search_form {
        width: 368px;
    }
}

@media screen and (max-device-width: 400px) {
    .text-input {
        width: 170px;
    }

    .search-bar #search_form {
        width: 348px;
    }
}

.dropdown option {
    color: whitesmoke;
    background-color: #0e1118;
}

.primary-button {
    height: 38px;
    color : whitesmoke;
    background-color: #1d3a57;
    border: 2px solid rgb(30, 46, 65);
    cursor: pointer;
    /* box-shadow: 0 0 10px 2px rgb(27, 39, 53) inset; */
}
.primary-button:hover {
    background-color: #15293d;
}

.search-bar #logo {
    float: left;
    height: 38px;
    width: 38px;
    margin-right: 10px;
}

/* 
 * Posts Content
 * (Games in home)
 * 
 */

.game-card {
    height: 220px;
    width: 410px;
}

.game-card a {
    cursor: pointer;
}

div#info {
    position: absolute;
    width: 100%;
    color: #777;
    font-size: 10px;
    z-index: 5;
}

.info {
    flex-grow: 0;
    margin: 10px 15px;
    z-index: 5;
}

.info .game-thumb {
    position: absolute;
    z-index: -1;
}

.info .info-data {
    width: 25%;
    line-height: 1.86em;
    font-weight: 500;
    font-size: 0.78rem;
    padding: 0 4px;
    color: #767676;
}

.info .info-data>span>i {
    margin: 0 3px;
}

.info h2.info-title {
    margin-top: 135px;
    margin-bottom: 10px;
    padding: 0px 6px;
    font-size: 1.3rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    color: whitesmoke;
    transition: margin-top 400ms;  
}

.info:hover h2.info-title {
    margin-top: 127px;
}

.info .info-category {
    float: left;
    padding: 0px 4px;
}

.info .info-category span.category {
    background-color: rgba(0, 0, 0, 0.8);
    color: #777;
    padding: 2px 5px;
    margin: 0 3px;
    font-size: 0.60rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.info .info-category>span.category.Singleplayer {
    background-color: rgba(159, 21, 21, 0.8);
    color: whitesmoke;
}
.info .info-category>span.category.Multiplayer {
    background-color: rgba(21, 115, 159, 0.8);
    color: whitesmoke;
}

.info .gradient {
    top: 0;
    position: absolute;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.17) 40%,rgba(0, 0, 0, 0.623) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.info:hover .gradient{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.425) 40%,rgba(0, 0, 0, 0.623) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

@media screen and (max-device-width: 460px) {
    .game-card {
        height: 180px;
        width: 340px;
    }

    .info .info-data {
        width: 30%;
    }

    .info h2.info-title {
        margin-top : 95px;
    }

    .info:hover h2.info-title {
        margin-top: 87px;
    }
}

@media screen and (max-device-width: 400px) {
    .game-card {
        height: 160px;
        width: 300px;
    }

    .info .info-data {
        width: 30%;
    }

    .info h2.info-title {
        margin-top : 75px;
    }

    .info:hover h2.info-title {
        margin-top: 67px;
    }
}

/*
 * Pagination
 */

.pagination {
    position: sticky;
    bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    z-index: 9;
}

/* 
 * Button For Top
 * (Press and Go to Top)
 * 
 */
.to_top {
    z-index: 9;
    cursor: pointer;
    color: whitesmoke;
    text-align: center;
    width: 30px;
    background: #48515c;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    line-height: 30px;
    font-size: 16px;
}
.to_top:hover {
    background: #32363b;
}


/* 
 * Games Grid
 */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
    margin: 10px auto;
}

.grid .placeholder {
    height: 1px;
    margin: 0 15px;
    flex-grow: 0;
    margin: 10px 15px;
}

/* 
 * Details
 */

#details {
    text-align: center;
    position: sticky;
    top: 20px;
    width: 95%;
    height: 95vh;
    margin: 20px auto;
    z-index: 11;
    overflow: auto;
    background: rgb(22, 22, 22);
}

#details .title{
    font-family: 'lato', sans-serif;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 4px;
}

#details .close_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: solid 0px;
    outline:none;
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 20px;
    background: transparent;
}

#details_wrapper {
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
}