html {
    height: 100%;
}

body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-attachment: fixed;
}

#padding {
    height: 1000px;
}