#stars {
    background: url("../img/stars.png") repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: starsanim 200s linear infinite;
    z-index: -1;
}

#stars2 {
    background: url("../img/stars2.png") repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: starsanim 250s linear infinite;
    z-index: -1;
}

#stars3 {
    background: url("../img/stars3.png") repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation: starsanim 300s linear infinite;
    z-index: -1;
}

@keyframes starsanim{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -5000px;
    }
}